:root {
  --color-background: #a6c3c9;
  --color-text-dark: #000f08;
  --color-primary: #e94b3c;
  --color-secondary: #f1a339;
  --color-accent: #43abc9;
  --color-light: #f1e9da;
  --color-border: #f3cad1;
}
/* Global Styles */
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #a6c3c9;
  color: #000f08;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-family: "Playfair Display", serif;
  color: #000f08;
}

a {
  text-decoration: none;
  color: #43abc9;
}

/* Container Class */
.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #000f08;
  padding: 20px 0;
}

nav {
  text-align: right;
}

nav a {
  margin: 0 15px;
  font-weight: 600;
  color: #a6c3c9;
}

nav a:hover {
  color: #f3cad1;
}

/* Hero Section */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 0;
  text-align: left;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Full intro for desktop */
p.shorter-intro {
  display: none;
}

p.full-intro {
  display: block;
}

.hero img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-right: 50px;
}

.hero h1 {
  font-size: 3em;
}

.hero p {
  font-size: 1.1em;
  line-height: 1.5em;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.hero-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  font-weight: bold;
  width: 100px;
  height: 100px;
  color: #fff;
  text-align: center;
  font-size: 1em;
}

/* Projects Hero Section */
.projects-hero {
  background-color: #f6f2ebcb;
  padding: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-hero .container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.project-nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.category h2 {
  font-size: 1.5em;
}

.hero-left h1 {
  font-size: 3em;
  color: #000f08;
  padding: 10px 0;
}

.hero-right p {
  font-size: 1.1em;
  line-height: 1.5;
  color: #000f08;
}

.btn-resume {
  background-color: #f1a339;
}

.btn-projects {
  background-color: #e94b3c;
}

.btn-contact {
  background-color: #43abc9;
}

/* Section Titles */

section {
  padding: 50px 0;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Project Story Styles */

.section h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #000f08;
}

.section p {
  font-size: 1.2em;
  line-height: 1.8em;
  color: #333;
  text-align: left;
}

.section li {
  font-size: 1.2em;
  line-height: 1.8em;
  color: #333;
  text-align: left;
  margin-bottom: 20px;
}

.projects-hero {
  margin-bottom: 40px;
  flex-direction: column;
}

.sections-label {
  margin-right: 10px;
}

.section-title {
  display: flex;
  justify-content: space-between;
}

.section-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  width: 100%;
}

.text-content {
  flex: 1;
  padding: 20px;
  color: #000f08;
}

.image-content {
  flex: 1;
  padding: 40px 20px 20px 20px;
}

.image-content img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
  display: flex;
  align-items: flex-start;
}

.reverse {
  flex-direction: row-reverse;
}

/* Switch styling */
.switch-container {
  display: flex;
  align-items: end;
  margin-bottom: 20px;
  margin-right: 20px;
}

.switch-label {
  font-size: 1em;
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 25px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2.5px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #000f08;
}

input:checked + .slider:before {
  transform: translateX(25px);
}

/* Hide the original content by default */
.original-content-design,
.original-content-future {
  display: none;
}

/* Read More Button */
.read-more-btn {
  background-color: #e94b3c;
  color: #f1e9da;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9em;
}

.read-more-btn:hover {
  background-color: #d43c2a;
}

/* Visit Site Button */
.visit-site-btn {
  background-color: #f1a339;
  color: #f1e9da;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  font-size: 0.9em;
}

.visit-site-btn:hover {
  background-color: #d98e24;
}

/* Swiper Section */
swiper-container {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 400px;
  margin: 0 auto;
  padding-bottom: 20px;
}

swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Swiper button previous with triangle shape */
.swiper-button-prev-unique {
  --r: 6px; /* border radius */
  height: 50px;
  aspect-ratio: cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) right var(--r), #000 98%, #0000 101%;
  -webkit-mask: conic-gradient(
        from 240deg at calc(200% - 3 * var(--r) / 2),
        #000 60deg,
        #0000 0
      )
      100% 0 / calc(100% - 3 * var(--r) / 2) 100% no-repeat,
    radial-gradient(var(--r) at calc(2 * var(--r)) 50%, #000 98%, #0000 101%),
    radial-gradient(var(--r) at top var(--_g)),
    radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background: linear-gradient(45deg, #fa6900, #c02942);
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

.swiper-button-next-unique {
  --r: 6px;
  height: 50px;
  aspect-ratio: cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) left var(--r), #000 98%, #0000 101%;
  -webkit-mask: conic-gradient(
        from 60deg at calc(3 * var(--r) / 2 - 100%),
        #000 60deg,
        #0000 0
      )
      0 0 / calc(100% - 3 * var(--r) / 2) 100% no-repeat,
    radial-gradient(
      var(--r) at calc(100% - 2 * var(--r)) 50%,
      #000 98%,
      #0000 101%
    ),
    radial-gradient(var(--r) at top var(--_g)),
    radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(100% 50%, 0 0, 0 100%);
  background: linear-gradient(45deg, #fa6900, #c02942);
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 999;
}

/* Show the navigation buttons when hovering over the projects section or swiper container */
#projects:hover .swiper-button-prev-unique,
#projects:hover .swiper-button-next-unique,
.swiper-container:hover .swiper-button-prev-unique,
.swiper-container:hover .swiper-button-next-unique {
  opacity: 0.7; /* Show the buttons on hover */
}

#projects {
  position: relative; /* So that the buttons are correctly placed within the swiper */
  z-index: 1;
}

/* Card Layout */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.card {
  background-color: #f6f2ebcb;
  height: 300px;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.card h3 {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  color: #000f08;
  margin-top: 15px;
}

.card p {
  font-size: 1em;
  color: #333;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Tag Styling */
.project-tag {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 0.75em;
  font-weight: 500;
  margin-right: 5px;
  background-color: #000;
  color: #f1e9da;
}

.skill-tag {
  display: inline-block;
  padding: 5px 10px;
  border: 2px solid #000;
  border-radius: 25px;
  font-size: 0.75em;
  font-weight: 500;
  margin-right: 5px;
  background-color: #f1e9da;
  color: #000f08;
}

.about,
.projects,
.resume,
.blog,
.contact,
.story {
  background-color: #fffefe80;
  border-radius: 20px;
  padding: 25px 60px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Contact Section Layout */
.contact {
  display: flex;
  align-items: center;
}

.contact h2 {
  font-size: 3em;
  margin-bottom: 20px;
}

.contact p {
  font-size: 1.1em;
}

.contact-left {
  flex: 1;
  padding-right: 40px;
}

/* Contact Info Boxes */
.contact-info {
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.contact-info div {
  border: 2px solid #000f08;
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #000;
  color: #f1e9da;
}

.contact-info a {
  text-decoration: none;
  color: #f1e9da;
  cursor: pointer;
}

/* Contact Form Styles */
.contact-form {
  flex: 1;
  background-color: #fffefe80;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-form label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
  width: 94%;
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  font-size: 1.1em;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  width: 100%;
  padding: 15px 30px;
  border-radius: 25px;
  background-color: #e94b3c;
  color: #f1e9da;
  border: none;
  font-size: 1.1em;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #d43c2a;
}

.contact-submit {
  display: flex;
  justify-content: center;
}

footer {
  background-color: #000f08;
  color: #a6c3c9;
  text-align: center;
  padding: 15px 0;
}

footer a {
  color: #a6c3c9;
  font-weight: 600;
}

footer a:hover {
  color: #f3cad1;
}

.btn {
  background-color: #e94b3c;
  color: #f1e9da;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.btn:hover {
  background-color: #d43c2a;
}

/* HTML: <div class="triangle"></div> */
.triangle {
  --r: 20px; /* border radius */

  height: 180px;
  aspect-ratio: cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) right var(--r), #000 98%, #0000 101%;
  -webkit-mask: conic-gradient(
        from 240deg at calc(200% - 3 * var(--r) / 2),
        #000 60deg,
        #0000 0
      )
      100% 0 / calc(100% - 3 * var(--r) / 2) 100% no-repeat,
    radial-gradient(var(--r) at calc(2 * var(--r)) 50%, #000 98%, #0000 101%),
    radial-gradient(var(--r) at top var(--_g)),
    radial-gradient(var(--r) at bottom var(--_g));
  clip-path: polygon(0 50%, 100% 100%, 100% 0);
  background: linear-gradient(45deg, #fa6900, #c02942);
}

/* Back to Top Button Styles */
#backToTopBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  /* On top of other elements */
  background-color: #000f08;
  /* Background color */
  color: #f1e9da;
  /* Text color */
  border: none;
  padding: 12px;
  border-radius: 30%;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#backToTopBtn:hover {
  background-color: #555;
}

/* Mobile Styles */
@media only screen and (max-width: 768px) {
  /* Global adjustments */
  body {
    font-size: 0.9em; /* Make font size slightly smaller */
  }

  h1 {
    font-size: 2.5em; /* Reduce heading size for mobile */
  }

  h2,
  h3 {
    font-size: 1.8em;
  }

  /* Container class */
  .container {
    width: 90%;
    padding: 15px;
  }

  /* Hero Section */
  .hero {
    flex-direction: column;
    padding: 100px 0;
    text-align: center;
  }

  .hero-content {
    flex-direction: column;
  }

  .hero img {
    margin: 0 auto 20px auto;
    width: 250px;
    height: 250px;
  }

  .hero h1 {
    font-size: 2.5em;
  }

  .hero p {
    font-size: 1em;
    line-height: 1.4em;
  }

  /* Shorter intro for mobile */
  p.shorter-intro {
    display: block;
  }

  p.full-intro,
  div.full-intro {
    display: none;
  }

  .hero-buttons {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .hero-buttons a {
    width: 40px;
    height: 40px;
    font-size: 0.9em;
  }

  /* Projects Hero Section */
  .projects-hero {
    padding: 60px 0;
  }

  .projects-hero .container {
    align-items: center;
  }

  .project-nav {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .project-tags {
    flex-direction: column;
  }

  .sections-label {
    margin-bottom: 10px;
  }

  .switch-container {
    margin-right: 0px;
  }

  .project-tag {
    margin-bottom: 5px;
  }

  .hero-left h1 {
    font-size: 2.2em;
  }

  .hero-right p {
    font-size: 1em;
    text-align: center;
  }

  /* Section adjustments */
  section {
    padding: 30px 0;
  }

  .section-header {
    margin-bottom: 10px;
  }

  .about,
  .projects,
  .resume,
  .blog,
  .contact,
  .story {
    width: 80%;
    padding: 15px;
  }

  .section h2 {
    font-size: 2em;
  }

  .section p {
    font-size: 1.1em;
  }

  .section li {
    font-size: 1.1em;
  }

  .text-content {
    flex-direction: column;
    padding: 0;
  }

  .image-content {
    display: none;
  }

  /* Contact Section */
  .contact {
    flex-direction: column;
    text-align: center;
  }

  .contact-info {
    flex-direction: column;
    margin: 25px 0px;
    gap: 6px;
  }

  .contact-info div {
    justify-content: center;
    width: fit-content;
  }

  .contact-left {
    flex: 1;
    padding-right: 0px;
  }

  /* Adjust the form size */
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 1em;
    box-sizing: border-box;
  }

  .contact-form textarea {
    resize: vertical;
  }

  .contact-form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  .contact-form button {
    padding: 12px 20px;
  }

  /* Footer adjustments */
  footer {
    padding: 10px 0;
  }

  /* Card Grid */
  .card-grid {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  /* Swiper Section */
  swiper-container {
    height: 400px; /* Adjust height for smaller screens */
  }

  /* Back to Top Button */
  #backToTopBtn {
    bottom: 20px;
    right: 20px;
  }
}
